<div class="row py-2">

  <div class="col-md-9 col-xs-12 mb-3">
    <table class="table align-middle" aria-label="Products">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Photo</th>
        <th scope="col">Product name</th>
        <th scope="col">Price</th>
        <th scope="col">Count</th>
        <th scope="col">Product subtotal</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>

      <tr *ngFor="let lineItem of content?.lineItems">
        <th *ngIf="content != undefined && content.lineItems.length > 0"
            scope="row">{{content.lineItems.indexOf(lineItem) + 1}}</th>
        <td *ngIf="lineItem.productDto.pictures.length > 0"><img
          src="/api/v1/picture/{{lineItem.productDto.pictures[0]}}" alt="{{lineItem.productDto.name}}" height="100px">
        </td>
        <td *ngIf="lineItem.productDto.pictures.length == 0"><img
          src="https://www.freeiconspng.com/uploads/no-image-icon-1.jpg" alt="No photo available" height="100px"></td>
        <td>{{lineItem.productDto.name}}</td>
        <td>${{lineItem.productDto.price | number:'1.2-2'}}</td>
        <td>
          <a (click)="decrement(lineItem)" class="btn btn-success me-2"><em class="fas fa-minus-square"></em></a>
          <label class="m-3">{{lineItem.quantity}}</label>
          <a (click)="increment(lineItem)" class="btn btn-success me-2"><em class="fas fa-plus-square"></em></a>
        </td>
        <td>${{lineItem.itemTotal | number:'1.2-2'}}</td>
        <td>
          <a (click)="removeItem(lineItem)" class="btn btn-danger"><em class="far fa-trash-alt"></em></a>
        </td>
      </tr>

      </tbody>
    </table>
    <button (click)="clearCart()" class="btn btn-danger">Clear cart</button>
  </div>

  <div class="col-md-3 col-xs-12">
    <div class="card">
      <div class="card-body">
        <h2>Order summary</h2>
        <p>Subtotal: ${{content?.subtotal | number:'1.2-2'}}</p>
        <button class="btn btn-primary me-2">Create Order</button>
      </div>
    </div>
  </div>

</div>
