<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--/*@thymesVar id="brands" type="java.util.List"*/-->
<a th:fragment="page_link(pageNumber, linkText)" class="page-link"
   th:text="${linkText}"
   th:href="@{/brand(
                       page=${pageNumber},
                       size=${brands.size},
                       name=${param.name},
                       sortBy=${param.sortBy == null
                                ? 'id'
                                : param.sortBy},
                       sortOrder=${param.sortOrder == null
                                    ? 'asc'
                                    : param.sortOrder})}" tabindex="-1">
</a>

</html>
