<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th class="center" scope="col" th:fragment="table_header(title, column)">[[${title}]]
    <!--/*@thymesVar id="products" type="org.springframework.data.domain.Page<ru.alekseiadamov.db.dto.ProductDTO>"*/-->
    <!--/*@thymesVar id="reverseSortOrder" type="java.lang.String"*/-->
    <a th:href="@{/product(
                        page=${products.number + 1},
                           size=${products.size},
                           productName=${param.productName},
                           minPrice=${param.minPrice},
                           maxPrice=${param.maxPrice},
                           sortBy=${column},
                           sortOrder=${reverseSortOrder}
                           )}">
        <i class="fa fa-sort-down"></i>
    </a>
</th>

</html>
