<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--/*@thymesVar id="products" type="java.util.List"*/-->
<a th:fragment="page_link(pageNumber, linkText)" class="page-link"
   th:text="${linkText}"
   th:href="@{/product(
                       page=${pageNumber},
                       size=${products.size},
                       productName=${param.productName},
                       minPrice=${param.minPrice},
                       maxPrice=${param.maxPrice},
                       sortBy=${param.sortBy == null
                                ? 'id'
                                : param.sortBy},
                       sortOrder=${param.sortOrder == null
                                    ? 'asc'
                                    : param.sortOrder})}" tabindex="-1">
</a>

</html>