<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<style>
    .center {
        text-align: center
    }

    .right {
        text-align: right
    }
</style>

<head th:replace="fragments/page_head :: page_head('Products')">
    <title>Products</title>
</head>

<body>

<nav th:replace="fragments/page_nav :: page_nav"></nav>

<div class="container">
    <div class="row py-2">
        <div sec:authorize="hasRole('ADMIN')" class="col-12">
            <a class="btn btn-primary" th:href="@{/product/new}">Add product</a>
        </div>

        <div class="col-12 mt-3">
            <form class="form-inline" th:method="get">
                <div class="form-group mb-2 mr-2">
                    <label for="name" class="sr-only">Product name</label>
                    <input type="text" value="" class="form-control" id="name" th:value="${param.name}"
                           name="name" placeholder="Product name">
                </div>
                <div class="form-group mb-2 mr-2">
                    <label for="minPrice" class="sr-only">Minimum price</label>
                    <input type="number" step="0.01" value="0.00" class="form-control" id="minPrice"
                           th:value="${param.minPrice}"
                           name="minPrice" placeholder="Minimum price">
                </div>
                <div class="form-group mb-2 mr-2">
                    <label for="maxPrice" class="sr-only">Maximum price</label>
                    <input type="number" step="0.01" value="0.00" class="form-control" id="maxPrice"
                           th:value="${param.maxPrice}"
                           name="maxPrice" placeholder="Maximum price">
                </div>
                <div class="form-group mb-2 mr-2">
                    <label for="category" class="sr-only">Category</label>
                    <input type="text" value="" class="form-control" id="category" th:value="${param.category}"
                           name="category" placeholder="Category">
                </div>
                <div class="form-group mb-2 mr-2">
                    <label for="brand" class="sr-only">Brand</label>
                    <input type="text" value="" class="form-control" id="brand" th:value="${param.brand}"
                           name="brand" placeholder="Brand">
                </div>
                <button type="submit" class="btn btn-primary mb-2 mr-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-funnel" viewBox="0 0 16 16">
                        <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z"></path>
                    </svg>
                    Apply
                </button>
            </form>
        </div>

        <div class="col-12">
            <table class="table table-bordered table-hover my-2">
                <thead>
                <tr>
                    <th th:replace="fragments/product_table_header :: table_header('Id', 'id')"></th>
                    <th class="center" scope="col">Picture</th>
                    <th th:replace="fragments/product_table_header :: table_header('Name', 'name')"></th>
                    <th th:replace="fragments/product_table_header :: table_header('Price, USD', 'price')"></th>
                    <th th:replace="fragments/product_table_header :: table_header('Category', 'category')"></th>
                    <th th:replace="fragments/product_table_header :: table_header('Brand', 'brand')"></th>
                    <th sec:authorize="hasRole('ADMIN')" class="center" scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <!--/*@thymesVar id="product" type="ru.alekseiadamov.db.dto.ProductDTO"*/-->
                <tr th:if="${products.hasContent()}" th:each="product : ${products.content}">
                    <th scope="row" class="center align-middle" th:text="${product.id}">ID</th>
                    <td class="align-middle" th:with="picture=${pictures.get(product.id)}">
                        <div th:if="${picture != null}" class="center">
                            <a class="thumbnail" th:href="@{/picture/{id}(id = ${picture.id})}">
                                <img th:src="@{/picture/{id}(id = ${picture.id})}"
                                     th:alt="${product.name}" height="100px"/>
                            </a>
                        </div>
                    </td>
                    <td class="align-middle"><a th:text="${product.name}">Name</a></td>
                    <td class="right align-middle"
                        th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 2, 'POINT')}">
                        Price
                    </td>
                    <td class="align-middle"><a th:text="${product.category.name}">Category</a></td>
                    <td class="align-middle"><a th:text="${product.brand.name}">Brand</a></td>
                    <td sec:authorize="hasRole('ADMIN')" class="align-middle">
                        <a class="btn btn-success" th:href="@{/product/{id}(id = ${product.id})}"><i
                                class="fas fa-edit"></i></a>
                        <form class="d-inline" th:method="delete" th:action="@{/product/{id}(id = ${product.id})}">
                            <button type="submit" class="btn btn-danger"><i class="far fa-trash-alt"></i>
                            </button>
                        </form>
                    </td>
                </tr>
                <tr th:unless="${products.hasContent()}">
                    <td colspan="5">No products found with the specified criteria</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${products.hasContent() && products.getTotalPages() > 1}" class="col-12 mt-3">
            <nav aria-label="...">
                <ul class="pagination">
                    <li th:if="${products.hasPrevious()}" class="page-item">
                        <a th:replace="fragments/product_page_link :: page_link(${products.number}, 'Previous')">Previous</a>
                    </li>
                    <li th:each="num : ${#numbers.sequence(1, products.totalPages)}"
                        th:classappend="${num == products.number + 1} ? 'active'"
                        class="page-item">
                        <a th:replace="fragments/product_page_link :: page_link(${num}, ${num})">1</a>
                    </li>
                    <li th:if="${products.hasNext()}" class="page-item">
                        <a th:replace="fragments/product_page_link :: page_link(${products.number + 2}, 'Next')">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<div th:replace="fragments/page_footer :: page_footer"></div>

</body>
</html>
